# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Environments
.env
.venv/
venv/
env/
ENV/

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# keys
apikey.json
